# # Run Php without filename extension

# RewriteEngine on

# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteCond %{REQUEST_FILENAME}.php -f

# RewriteRule ^(.*)$ $1.php



# # Return 404 if original request is .php

# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"

# RewriteRule .* - [L,R=404]



# # Run html without filename extension

# RewriteEngine on

# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteCond %{REQUEST_FILENAME}.html -f

# RewriteRule ^(.*)$ $1.html



# Return 404 if original request is .html

# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.html[? ].*$"

# RewriteRule .* - [L,R=404]

#---------------------------------------------------------------

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

#---------------------------------------------------------------

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^([^/]+)\/?$ index.php?controller=$1 [QSA,NC,L]
RewriteRule ^([^/]+)\/([^/]+)\/?$ index.php?controller=$1&param=$2 [QSA,NC,L]
RewriteRule ^([^/]+)\/([^/]+)\/([^/]+)\/?$ index.php?controller=$1&action=$2&param=$3 [QSA,NC,L]

RewriteRule ([a-zA-Z0-9_\-&?]+(?=\.php)) index.php?controller=$1 [QSA,NC,L]