@import url('../Modules/Style/Libraries/FontIran.css'); /*Library of Fonts*/
/*^ ************Libraries************** ^*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IRANYekan';
    direction: rtl;
}

a {
    font-size: inherit;
    color: inherit;
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

/*^ ************General Style********** ^*/

/* S of Header */
header {
    padding: 1.7em 1em;
    background-color: #fafafa;
    margin-bottom: 1.5em;
}

.website-title {
    margin-bottom: 1.8em;
    text-align: center;
    font-size: .85rem;
    font-weight: 700;
    cursor: default;
}

.website-title h1 {
    margin-bottom: .25em;
}

.website-title p {
    font-weight: 300;
    color: #2da0c3;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.5em;
}

nav .nav-item {
    margin-left: 2em;
    transition: .3s ease;
}
nav .nav-item:last-child {
    margin-left: 0;
}
nav .nav-item:hover,
nav .nva-item:focus {
    color: #2da0c3;
    transition: .2s ease;
}

.nav-item-acitve {
    border-bottom: 1px solid #000;
}
.nav-item-acitve:hover {
    border-bottom: 1px solid #2da0c3;
}

@media all and (min-width: 700px)
{
    .container-nav {
        display: flex;
        justify-content: space-between;
    }

    .website-title {
        margin-bottom: 0;
        text-align: start;
    }
}

/* E of Header */

/* S of Main Container */

.article-feature {
    border-bottom: 1px dashed #707070;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.article-recent-main {
    order: 2;
}

.article-recent-secondary {
    order: 1;
}

.article-feature .article-title {
    font-size: 1.4rem;
    margin-bottom: .6em;
    text-align: center;
}

.article-recent .article-title {
    font-size: 1.4rem;
    margin-top: -1.5em;
    margin-bottom: .6em;
}

.article-body,
.widget-body {
    font-size: .9rem;
    text-align: justify;
}

.article-info,
.article-read-more {
    font-size: .8rem;
    font-weight: 700;
    color: #6e6e6e;
    margin: 0.7em 0;
    text-align: left;
}
.article-read-more {
    color: #1792d2;
    transition: .3s;
}
.article-read-more:hover,
.article-read-more:focus {
    color: #76a5be;
    transition: .2s;
    text-decoration: underline;
}

.article-image,
.widget-image {
    width: 100%;
    box-shadow: 0 0 2px #b1b1b1;
    border-radius: 3px;
    /* display: block; */
}

.sidebar-widget {
    border: 20px solid #eee;
    padding: 0.8em;
    margin-bottom: 1.6em;
    border-radius: 3px;
}

.widget-recent-post {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: .9em;
    margin-bottom: 1.2em;
}
.widget-recent-post:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.widget-image {
    order: -1;
}

.widget-title {
    margin-bottom: 0.6em;
    text-align: center;
}

.widget-recent-post-title {
    margin-top: 0.6em;
    font-size: 1rem;
    text-align: center;
}

@media all and (min-width: 850px) 
{
    header {
        margin-bottom: 2.1em;
    }

    .container-body {
        display: flex;
        justify-content: space-between;
    }

    main {
        width: 65%;
    }

    aside {
        width: 30%;
    }

    .article-feature {
        display: flex;
        flex-direction: column;
    }

    .article-feature .article-title {
        margin-bottom: 0.6em;
        text-align: right;
    }

    .article-feature .article-image {
        order: -2;
    }
    
    .article-feature .article-info {
        order: -1;
    }

    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 65%;
    }

    .article-recent-secondary {
        width: 30%;
    }

    .article-recent .article-title {
        margin-top: 0;
    }

    .article-image {
        height: 90%;
        object-fit: cover;
    }

    .article-recent .article-info {
        text-align: center;
    }
}
/* E of Main Container */

/* S of Footer */

footer {
    background-color: #09699c;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5em;
}

footer h3 {
    margin-bottom: .5em;
}


/* E of Footer */
/*^ ************Other Style************ ^*/
